/*
 *
 * AR Gallery CSS
 *
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  text-align: center;
}

header {
  color: #FFF;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 26px;
}

figcaption {
  color: #fff;
}

/* TO-DO: we are going to not show stray photos in a last row */

.thumbnail {
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 5px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 150px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #212121;
}

.thumbnail:hover {
  border: 1px solid #eee;
}

.current  {
  border: 1px solid #ddd;
}
.grid {
  line-height: 0;
}

.modal {
  position: absolute;
  height: auto;
  top: 18%;
  left: 20%;
  display: block;
  z-index: 101;
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  .modal {
    top: 100px;
    left: 0;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .modal {
    top: 15%;
    left: 25%;
  }
}

@media only screen and (min-width : 1224px) {
  .modal {
    left: 30%;
  }
}

.modalContents {
  width: auto;
  min-height: 56px;
  max-height: none;
  height: auto;
  position: relative;
  padding: .5em 1em;
  background: none;
  background-color: #000;
}

.galleryButton {
  z-index: 104;
  border: 0;
  height: 40px;
  width: 40px;
  opacity: .4;
  cursor: pointer;
  position: absolute;
  font-size: 22px;
}

.galleryButton:hover {
  opacity: .7;
}

.modalClose {
  right: 0;
  top: 0;
  line-height: 0;
  color: yellow;
  background-color: transparent;
}

.modalOverlay {
  z-index: 100;
  background-color: rgb(50,50,50);
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photoNav {
  position: absolute;
  top: 44%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  line-height: 0;
  color: #aaa;
}

.viewNext {
  right: -10px;
}

.viewPrev {
  left: -10px;
}